# Scikit Learn

#### Dividir conjunto datos disponibles, en datos para pruebas y en datos de test

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
datos = np.random.randint(0,100,(100,4)) ## el tercer parametro es para reformar el array de datos (filas, columnas)
datos

array([[67,  6, 12, 19],
       [97, 38, 98, 46],
       [92, 48, 29, 96],
       [67, 76, 84,  6],
       [72, 83, 53, 34],
       [84,  1,  6, 59],
       [29, 72, 18, 80],
       [ 4, 45, 97, 61],
       [66, 89, 40, 24],
       [83, 76, 60, 50],
       [71, 99, 46, 13],
       [26, 32, 16, 47],
       [71, 52,  2, 29],
       [25, 21, 83, 37],
       [69, 55, 61, 49],
       [35, 29, 62, 80],
       [41, 55, 35, 55],
       [79, 52, 25, 41],
       [46, 66,  2, 42],
       [78, 46, 18, 29],
       [ 4,  8, 57, 23],
       [97, 74, 56, 85],
       [ 6, 71, 64, 31],
       [37, 70, 60, 19],
       [74,  1, 50, 39],
       [ 3, 85,  3, 19],
       [16, 93, 75, 65],
       [ 4, 66, 33, 86],
       [34, 38, 77, 45],
       [91, 53, 89, 90],
       [12, 48, 37, 37],
       [19, 54, 86, 78],
       [24, 31, 91, 53],
       [27, 56, 73, 46],
       [79, 15,  6, 18],
       [38, 34, 84, 10],
       [87, 90,  1, 88],
       [38, 82, 11, 45],
       [99,  5, 34, 97],
       [82, 81, 26, 72],
       [78, 70, 37, 59],
       [11, 91, 48, 20],
       [ 8, 77, 68, 54],
       [71, 83, 39, 68],
       [23, 95, 30, 42],
       [69, 37, 61, 73],
       [35, 73,  1, 12],
       [86, 87, 20, 68],
       [67, 79, 39, 33],
       [12, 12, 81, 63],
       [ 9, 63, 84, 79],
       [53, 45, 78, 65],
       [21,  2,  5, 31],
       [86, 68, 63,  1],
       [97, 35, 54, 89],
       [88, 91, 93, 82],
       [16, 71,  1, 83],
       [83, 86, 21, 96],
       [37, 66, 11, 42],
       [72, 82, 18, 46],
       [73, 76, 37, 53],
       [11, 85, 76, 46],
       [27, 29, 82, 62],
       [97, 22, 68, 75],
       [64, 51, 43, 61],
       [20, 25, 26, 48],
       [27, 54,  7, 40],
       [94, 73, 69, 16],
       [57, 65, 83, 45],
       [62, 31, 94, 62],
       [20, 22,  2, 24],
       [97, 33, 97, 57],
       [40, 91, 28, 24],
       [77, 87, 51, 74],
       [96, 25, 53, 88],
       [88, 64, 75, 52],
       [77, 18, 83, 25],
       [30, 57, 31,  0],
       [83, 32, 57, 93],
       [55,  1, 49, 19],
       [91, 85, 52, 89],
       [25, 43,  9, 27],
       [37, 37, 16, 72],
       [28, 17, 17, 92],
       [54, 29, 92, 72],
       [55, 96, 18, 87],
       [36, 13, 68, 79],
       [99, 70, 92, 86],
       [83, 66, 57, 93],
       [25, 77, 62, 47],
       [14, 41, 97, 81],
       [85, 90, 71, 58],
       [84,  3, 82, 78],
       [68, 79, 35, 37],
       [44, 74, 69, 37],
       [79, 46, 41, 56],
       [98, 71, 58, 15],
       [51, 98, 23, 82],
       [38, 10, 79, 56],
       [ 1, 59, 37,  9]])

In [8]:
X = dataframe[['c1','c2','c3']]
X

    c1  c2  c3
0   67   6  12
1   97  38  98
2   92  48  29
3   67  76  84
4   72  83  53
..  ..  ..  ..
95  79  46  41
96  98  71  58
97  51  98  23
98  38  10  79
99   1  59  37

[100 rows x 3 columns]

In [9]:
y = dataframe['etiquetas']
y

0     19
1     46
2     96
3      6
4     34
      ..
95    56
96    15
97    82
98    56
99     9
Name: etiquetas, Length: 100, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

In [11]:
X_test.shape ## la palabra shape indica como esta estructurado los datos

(30, 3)

In [12]:
X_train.shape

(70, 3)

In [13]:
y_train.shape

(70,)

In [14]:
y_test.shape

(30,)

In [ ]:
### se dividio los valore de entrenamiento y test en los sets de datos